<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/punto5.css">
    <title>Pubto 5</title>
</head>
<body>
    <div class="container">
        <a href="../index.html">Volver</a>
        <div id="contador">
            <h3>Contador</h3>
            <span :style="{color: countColor}" v-on:animationend="resetCountAnimation">{{ count }}</span>
            <p v-if="count > 0">Número positivo</p>
            <p v-else-if="count < 0">Número negativo</p>
            <p v-else>Igual a 0</p>
            <div class="button-container">
                <button class="decrease-btn" v-on:click="count--"><span>&#45;</span> Disminuir</button>
                <button class="increase-btn" v-on:click="count++"><span>&#43;</span> Aumentar</button>
            </div>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="../assets/js/script.js"></script>
</body>
</html>